name: Run Tests

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'uv.lock'
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'uv.lock'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      POSTGRES_SERVER: localhost
      POSTGRES_PORT: 5432
      POSTGRES_DB: testdb
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpassword
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
            python-version: '3.13'
      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
          enable-cache: true
      - name: Install project
        run: uv sync --locked --all-extras --dev
      - run: docker compose -f docker-compose.testing.yml down -v --remove-orphans
      - run: docker compose -f docker-compose.testing.yml up -d db
      - name: Run tests
        run: |
          uv run --frozen -- coverage run --source=src -m pytest tests
          uv run --frozen -- coverage report --show-missing
          uv run --frozen -- coverage html --title "Coverage for ${{ github.sha}}"
      - run: docker compose -f docker-compose.testing.yml down -v --remove-orphans
      - name: Store coverage files
        uses: actions/upload-artifact@v6
        with:
          name: coverage-html
          path: htmlcov
          include-hidden-files: true
